# Environment files
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
coverage.xml
htmlcov/

# Node
node_modules/
dist/
coverage/

# Editors and operating systems
.vscode/
.idea/
.DS_Store

*.zip
